body {
    font-family: Arial, Helvetica, sans-serif;
}

.partA {
    padding: 10px;
    margin-bottom: 10px;
}

.partA select {
    padding: 8px;
    border-radius: 4px;
}

.partB {
    padding: 10px;
}

.partB input {
    padding: 8px;
    margin-bottom: 8px;
    border-width: 1px;
    border-radius: 4px;
}

.partB p {
    display: none;
}