.form {
    margin: 0 auto;
    background-color: #f5f6fa;
    padding: 1em;
    position: relative;
    border-radius: 3px;
  }
  
  .form input {
    width: 400px;
    display: block;
    border: 1px solid #ddd;
    padding: .6em;
    border-radius: 4px;
  }
  
  .form select {
    width: 416px;
    display: block;
    border: 1px solid #ddd;
    padding: .6em;
    border-radius: 4px;
  }
  
  .form button {
    border-radius: 5px;
    background-color: #51cdec;
    border-color: #51cdec;
    color: white;
    font-weight: bold;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
  }
  
  div .error {
    display: none;
  }