.App {
  text-align: center;
}

.MainContent {
  background-color: #94d2bd;
  padding-bottom: 10px;
}

.SubContent {
  background-color: #03b5bb;
  padding-bottom: 10px;
}

h1 {
  margin: 0;
  padding: 10px;
}

h2 {
  margin: 0;
  padding: 10px;
}

p {
  text-align: left;
}